---
name: Test

on: # yamllint disable-line rule:truthy
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install python
        uses: actions/setup-python@v6

      - name: Install poetry
        uses: abatilo/actions-poetry@v4

      - name: Configure poetry
        run: |
          poetry config virtualenvs.create true --local
          poetry config virtualenvs.in-project true --local

      - uses: actions/cache@v4
        name: Cache python dependencies
        with:
          path: .venv
          key: venv-${{ hashFiles('poetry.lock') }}

      - run: poetry install

      - run: make lint

      - run: make test
